@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    text-align: center;
    height: 50px;
    margin: 0;
}
.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100vw;
}
.projects, .tasks{
    border: 2px black solid;
    margin: 30px;
    border-radius: 10px;
    height: calc(100vh - 170px);
    padding: 20px;
    overflow: scroll;
    
}
.projects h2, .tasks h2{
    margin-top: 0;
}
.project-form-container{
    width: 300px;
    border: 2px black solid;
    padding: 5px;
    background-color: 	#E1E8ED;
    position: absolute;
    top: 200px;
    left: 100px;
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: 	#E1E8ED;
    padding: 5px;
}
form button{
    width: 150px;
    border-radius: 4px;
}
.projects-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    
}
.project-tab{
    display: flex;
    border: 2px black solid;
    gap: 5px;
    padding: 3px;
    align-items: center;
}
.project-tab p {
    font-size: 10px;
}
.task-form-container{
    width: 300px;
    border: 2px black solid;
    padding: 5px;
    background-color: 	#E1E8ED;
    position: absolute;
    top: 200px;
    left: 550px;
    display: none;
}